body {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 55px;

    background-color: #2196f3;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border-radius: 999px;
    transition: 0.3s;
}

.home:hover {
    background-color: #1976d2; /* darker blue */
    transform: scale(1.05);    /* slightly bigger */
}